{
  "extends": "standard",
  "rules": {
    "semi": ["error", "always"],
    "object-shorthand": ["error", "always", { "avoidQuotes": true }],
    "prefer-template": "error",
    "no-useless-constructor": "error"
  }
}
